<div class="form-group" ng-class="{'has-error': Form.bank.$invalid}">
    <label for="bank" class="col-sm-2 control-label">Bank</label>
    <div id="bankControls" class="col-sm-10">
        <input id="bank" name="bank" type="text" ng-maxlength="20" class="form-control" ng-model="vm.instance.bank" placeholder="Enter the Account Bank"></input>
        <span class="help-block error" ng-show="Form.bank.$error.maxlength">maximum length is 20</span>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': Form.agency.$invalid}">
    <label for="agency" class="col-sm-2 control-label">Agency</label>
    <div id="agencyControls" class="col-sm-10">
        <input id="agency" name="agency" type="text" ng-maxlength="20" class="form-control" ng-model="vm.instance.agency" placeholder="Enter the Account Agency"></input>
        <span class="help-block error" ng-show="Form.agency.$error.maxlength">maximum length is 20</span>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': Form.account.$invalid}">
    <label for="account" class="col-sm-2 control-label">Account</label>
    <div id="accountControls" class="col-sm-10">
        <input id="account" name="account" type="text" ng-maxlength="20" class="form-control" ng-model="vm.instance.account" placeholder="Enter the Account Account"></input>
        <span class="help-block error" ng-show="Form.account.$error.maxlength">maximum length is 20</span>
    </div>
</div>

<div class="form-group" ng-class="{'has-error': Form.description.$invalid}">
    <label for="description" class="col-sm-2 control-label">Description</label>
    <div id="descriptionControls" class="col-sm-10">
        <input id="description" name="description" type="text"class="form-control" ng-model="vm.instance.description" placeholder="Enter the Account Description"></input>
    </div>
</div>
